.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.img {
    padding: 20px;
}

.titulo {
    align-items: center;
    color: white;
    display: flex;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    margin-right: 300px;
}